*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Android Studio

build/
.idea/
*.keystore

# Kotlin
.kotlin/

# 编译输出
*.apk
*.aar
*.ap_
*.aab

# 日志文件
*.log

# 其他
Thumbs.db
captures/